---
import katex from "katex";

const { formula = "" } = Astro.props;
const html = katex.renderToString(formula, {
  displayMode: true,
  throwOnError: false,
});
---

<div class="text-center">
  <span set:html={html} class="" />
</div>
