---
import katex from 'katex';
import { response } from './twelf-highlight/evaluate.ts';

function trimSlightly(code) {
    const code2 = code[0] === '\n' ? code.slice(1) : code;
    const code3 = code[code.length - 1] === '\n' ? code2.slice(0, code.length - 1) : code;
    return code3 ;
}

const { code = '' } = Astro.props;
const lines = trimSlightly(code).split('\n');
const newly = lines.map((line, i) => i%2 === 0 ? line : `<span style="color: red;">${line}</span>`)

const text = await response;

---

<!-- pre set:html={typeof contents} / -->

<!-- pre set:text={JSON.stringify(newly)} / -->
<pre set:html={newly.join('\n')} />
<!-- pre set:html={response} /-->
