name: Twelf Wiki

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'

      - name: Build wiki
        run: cd wiki && npm i && npm run build

      - name: Upload wiki as artifact
        uses: actions/upload-artifact@v4
        with:
          name: wiki-ssg
          path: wiki/dist/
          compression-level: 9
          retention-days: 1